<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Toaster" version="2.1.10716.0" targetFramework="net48" />
  <package id="ToastNotifications" version="2.5.0" targetFramework="net48" />
  <package id="ToolBelt" version="4.0.10611.1" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net48" />
</packages>